---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


html, body {
  height: 100%;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   background-color: black;
}



.aplayer {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    box-shadow: none !important;
    border-radius: 2px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: initial;
}

.aplayer .aplayer-info {
    margin-left: 66px;
    padding: 14px 7px 0 10px;
    height: 66px;
    box-sizing: border-box;

}

.aplayer .aplayer-pic {
    position: relative;
    float: none !important;
    height: 300px !important;
    width: 100% !important;
    background-size: 100%;
    background-image: url('http://puppycodes.d98r0.bysh.me/widow-install/install.jpg') !important;
    -webkit-transition: all 0.3s ease;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: none;
    margin: 0px !important;
}

.aplayer .aplayer-pic .aplayer-play {
  border: 0px !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  border-radius: 0px !important;
}

.aplayer .aplayer-pic .aplayer-pause {
  border: 0px !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  border-radius: 0px !important;
}

.aplayer .aplayer-pic .aplayer-pause .aplayer-icon-pause {
    position: absolute;
    top: 5px !important;
    left: 5px !important;
    height: 50px !important;
    width: 50px !important;
}

.aplayer .aplayer-pic .aplayer-play .aplayer-icon-play {
  position: absolute;
  top: 5px !important;
  left: 5px !important;
  height: 50px !important;
  width: 50px !important;
}

.link {
  text-align: center;
position: relative;
display: block;
margin-bottom: 20px;
}
a.link {
  color: white;
  font-size: 13px;
}

.aplayer-music {
  display: none;
}
.aplayer-controller {
  margin-top: 10px;
margin-left: 5px;
margin-right: 0px;
}

.aplayer .aplayer-info {
    margin-left: 0px !important;
    padding: 0px !important;
    height: 66px;
    box-sizing: border-box;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 !important;
    padding: 4px 0;
    cursor: pointer !important;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {

    background: blue !important;

}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
background: blue !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    position: relative;
    height: 2px;
    width: 100%;
    background: #fff;
}
